
<h1>New Place</h1>

<%= form_with :model => @place do |form| %>
  <p>
    <%= form.label "name", "Place Name" %>
    <%= form.text_field "name" %>
  </p>
  <%= form.submit %>
<% end %>

<p>
  <a href = "/places" >Back to Places </a>
</p>